---
import Person from "../icons/Person.astro";
import School from "../icons/School.astro";
---

<div>
  <div class="flex items-center gap-x-2">
    <span><Person /></span>
    <h2 class="text-2xl">Sobre mí</h2>
  </div>
  <p class="mt-6">
    Entusiasta de la programación desde hace 3 años. Me encanta aprender nuevas
    tecnologías y me considero constante en mi trabajo. Cuando no estoy
    sumergido en el código, estoy haciendo deporte, socializando y cuidando mi
    salud mental. En resumen, soy un dev apasionado con un toque equilibrado y
    relajado
  </p>
  <div class="mt-6 border-2 border-primary rounded-lg p-2">
    <p class="inline-flex gap-x-2">
      <span><School /></span>CFGS - Desarrollo de Aplicaciones Web
    </p>
    <p class="inline-flex gap-x-2">
      <span><School /></span>CFGS - Sistemas Informáticos en Redes
    </p>
  </div>
</div>
