---
const { json } = Astro.props;
---

<div class="mt-12">
  <div class="flex items-center gap-x-2">
    <img src="/folder-code.svg" alt="icono" />
    <h2 class="text-2xl">Experiencia laboral</h2>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-6">
    {
      json.map((el) => (
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-accent rounded-full mt-1.5 -start-1.5" />
          <time datetime={el.time} class="text-accent">
            {el.time}
          </time>
          <h3 class="text-xl text-primary">{el.title}</h3>
          <p class="mb-4">{el.description}</p>
        </li>
      ))
    }
  </ol>
</div>
