<footer class="m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <hr class="my-6 border-2 border-primary lg:my-8" />
    <span class="block text-sm text-text text-center"
      >© 2024 <a href="#" class="hover:underline">Eric García</a>. Casi todos
      los derechos reservados.</span
    >
  </div>
</footer>
