---
import Email from "../icons/Email.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Github from "../icons/Github.astro";
---

<div>
  <div class="flex flex-row flex-wrap items-center gap-x-4">
    <img src="/foto-perfil.webp" alt="Foto de perfil" class="w-24 rounded-lg" />
    <h2 class="text-3xl w-2/3">
      Hola, soy Eric <span class="text-xl text-primary"
        >Desarrollador Web y Técnico de Sistemas</span
      >
    </h2>
  </div>
  <div class="mt-12">
    <p class="text-lg mt-2">
      <span class="text-primary">+3 años de experiencia.</span> especializado en
      la construcción de comercios electrónico y páginas web.
    </p>
  </div>
  <div class="mt-6 flex gap-x-4">
    <a
      href="mailto:ericgarciafernandez18@gmail.com"
      target="_blank"
      class="hover:border-2 border-accent rounded-lg"><Email /></a
    >
    <a
      href="https://www.linkedin.com/in/eric-garc%C3%ADa-fern%C3%A1ndez/"
      target="_blank"
      class="hover:border-2 border-accent rounded-lg"><LinkedIn /></a
    >
    <a
      href="https://github.com/ericgarciafernandez"
      target="_blank"
      class="hover:border-2 border-accent rounded-lg"><Github /></a
    >
  </div>
</div>
