---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import Presentation from "../components/sections/Presentation.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Abilities from "../components/sections/Abilities.astro";
import About from "../components/sections/About.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main class="mx-auto">
    <Section id="presentation">
      <Presentation />
    </Section>
    <Section id="experiencia">
      <Experience />
    </Section>
    <Section id="proyectos">
      <Projects />
    </Section>
    <Section id="sobreMi">
      <About />
    </Section>
    <Section id="habilidades">
      <Abilities />
    </Section>
  </main>
</Layout>
