---
const { json } = Astro.props;
---

<header
  class="fixed top-0 bg-background z-10 flex justify-around gap-x-2 border-b-2 p-2 border-primary text-sm lg:w-1/2"
>
  <a class="hover:text-primary" href="#experiencia">{json.experience}</a>
  <a class="hover:text-primary" href="#proyectos">{json.projects}</a>
  <a class="hover:text-primary" href="#sobreMi">{json.about}</a>
  <a class="hover:text-primary" href="#habilidades">{json.abilities}</a>
</header>
