<header
  class="flex justify-around gap-x-2 border-b-2 p-2 border-primary text-sm"
>
  <a class="hover:text-primary" href="#experiencia">Experiencia</a>
  <a class="hover:text-primary" href="#proyectos">Proyectos</a>
  <a class="hover:text-primary" href="#habilidades">Habilidades</a>
  <a class="hover:text-primary" href="#sobreMi">Sobre mí</a>
</header>
